@if $include-forms == true {

label {
   font-size: $font-size-small;
   line-height: $line-height-small;
   display: block;
}

input,
select,
textarea {
   border-width: $input-border-width;
   border-style: $border-style;
   color: $color-6;
   font-family: secondary;
   font-size: $font-size;
   border-radius: $input-border-radius;
   border-radius: 2px;
   border-color: $color-8;
   background-color: $color-9;
   width: 100%;
   &:focus{
      border-color: $color-2;
      border-width: $input-border-width*2;
      -webkit-box-shadow: -2px 2px 36px -14px rgba(0,0,0,0.7);
-moz-box-shadow: -2px 2px 36px -14px rgba(0,0,0,0.7);
box-shadow: -2px 2px 36px -14px rgba(0,0,0,0.7);
   }

 
   padding: $input-paddHeight $input-paddWidth;
   margin-bottom: 1rem;
}
::placeholder {
   color: $color-8;
}

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + label,
input[type="radio"] + label {
   width: initial;
   display: inline-block;
}

// CHECKBOX Y RADIO BUTTONS PERSONALIZADOS

input[type="checkbox"],
input[type="radio"] {
   display: none;
   +label {
      position: relative;
      cursor: pointer;
      margin-right: 5px;
      &::before {
         content: "";
         width: $checkbox-size;
         height: $checkbox-size;
         display: inline-block;
         vertical-align: sub;
         margin-right: 5px;
         background-color: $color-white;
         border-color: $color-grey-dark;
         border-width: $checkbox-border-width;
         border-style: $border-style;
         border-radius: $checkbox-border-radius;
      }
   }
}
input[type="checkbox"]:checked + label::before {
   background-color: $checkbox-bg-check;
}
input[type="checkbox"]:checked + label::after {
   content: "";
   display: block;
   width: 20px;
   height: 20px;
   background-image: url(../img/SVG/check.svg);
   position: absolute;
   top: -2px;
}

input[type="radio"] + label::before {
   border-radius: 50%;
}
input[type="radio"]:checked + label::before {
   background-color: $checkbox-bg-check;
}
input:not([class="toggle"])[type="radio"]:checked + label::after {
   content: "";
   width: $checkbox-size/2.8;
   height: $checkbox-size/2.8;
   border-radius: 50%;
   background-color: $color-white;
   position: absolute;
   top: 7px;
   left:7px;
}

// RADIO TOOGLE BUTTONS PERSONALIZADOS

input.toggle + label {
   padding: $input-paddHeight $input-paddWidth;
   margin-right: 0;
   display: table-cell;
   text-align: center;
   @media (max-width: $media-s){
      padding: 10px 5px;
   }
   &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      margin-right: 0;
      border-width: $input-border-width;
      border-style: $border-style;
      border-radius: 0;
      border-color: $color-grey-dark;
      background-color: $color-white;
      position: absolute;
      top: 0;
      left: 0;
   }
   >span{
      position: relative;
      color: $color-txt1;
      z-index: map-get($z-index, sup);
   }
}
input.toggle:first-of-type + label::before {
   border-radius: $border-radius 0 0 $border-radius;
}
input.toggle:last-of-type + label::before {
   border-radius: 0 $border-radius $border-radius 0;
}
input.toggle:checked + label {
   span {
      text-shadow: 0 0 4px $color-white;
      color: $color-white;
   }
   &::before {
      background-color: $color-2;
   }
}

}
input[type="submit"]{
   cursor: pointer;
}